<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
    .container {
        max-width: 860px;
        margin: auto;
        padding: 20px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2> Edit Menu Information </h2>
    </div>
    <form action="menu.html" th:action method="post">
        <div class="form-group">
            <label for="menuId">MENU ID</label>
            <input type="text" id="menuId" name="menuId" class="form-control" value="BUR001" th:value="${menu.id}" readonly>
        </div>
        <div class="form-group">
            <label for="menuCategory">MENU CATEGORY</label>
            <select id="menuCategory" name="menuCategory" class="form-control">
                <option value="" selected disabled>Please select menu category</option>
                <option value="Burgers">Burgers</option>
                <option value="Rappas">Rappas</option>
                <option value="Bowls">Bowls</option>
                <option value="Kids">Kids</option>
                <option value="Sides">Sides</option>
                <option value="Sauces">Sauces</option>
                <option value="Drinks">Drinks</option>
            </select>
        </div>
        <div class="form-group">
            <label for="menuName">MENU NAME</label>
            <input type="text" id="menuName" name="menuName" class="form-control" value="Bondi Burger" th:value="${menu.menuName}">
        </div>
        <div class="form-group">
            <label for="menuPrice">MENU PRICE</label>
            <input type="text" id="menuPrice" name="menuPrice" class="form-control" value="11.45" th:value="${menu.menuPrice}">
        </div>
        <div class="form-group">
            <label for="menuQuantity">MENU QUANTITY</label>
            <input type="text" id="menuQuantity" name="menuQuantity" class="form-control" value="99" th:value="${menu.menuQuantity}">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">SAVE</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='menu.html'"
                        th:onclick="|location.href='@{/admin/hq/menus/{menuId}(menuId=${menu.id})}'|"
                        type="button">CANCEL</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>