<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width:600px">
    <div class="py-5 text-center">
        <img src="/images/logo_img.webp" alt="Logo Image" width="150">
        <img src="/images/inventory_img.webp" alt="Inventory Image" width="600">

        <h5> <br>Welcome to Oporto's Inventory Management System!<br>
            Sign up or sign in to streamline your inventory operations.
        </h5>

        <!-- Sign-Up and Sign-In Buttons -->
        <div class="row mt-5">
            <div class="col-md-6">
                <a href="/signup" class="btn btn-primary btn-lg btn-block">Register Now</a>
            </div>
            <div class="col-md-6">
                <a href="/signin" class="btn btn-success btn-lg btn-block">Already Registered</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
