<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 1920px;
            margin: auto;
            padding: 20px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .low-stock {
            color: red;
        }
        .normal-stock {
            color: blue;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>Branch Inventory Overview</h2>
        <h3 th:text="${branchName}"></h3>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:if="${memberBranch}"
                    th:onclick="|location.href='@{/admin/branch/{branchName}/menus/order(branchName=${branchName})}'|"
                    type="button"> Place order from HQ
            </button>

        </div>
    </div>
    <hr class ="my-4">
    <div>
        <table class ="table">
            <thead>
            <tr>
                <th>BRANCH ID</th>
                <th>BRANCH NAME</th>
                <th>MENU ID</th>
                <th>MENU CATEGORY</th>
                <th>MENU NAME</th>
                <th>MENU PRICE (AUD)</th>
                <th>HQ QUANTITY</th>
                <th>BRANCH QUANTITY</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="menu, iterStat : ${menus}">
                <td th:text="${branchId}">BRANCH ID</td>
                <td th:text="${branchName}">BRANCH NAME</td>
                <td th:text="${menu.id}">MENU ID</td>
                <td th:text="${menu.menuCategory}">MENU CATEGORY</td>
                <td th:text="${menu.menuName}">MENU NAME</td>
                <td th:text="${menu.menuPrice}">MENU PRICE(AUD)</td>
                <td th:text="${menu.menuQuantity}">HQ QUANTITY</td>
                <td th:classappend="${branchMenuQuantities[iterStat.index] < 20 ? 'low-stock' : 'normal-stock'}"
                    th:text="${branchMenuQuantities[iterStat.index]}">BRANCH QUANTITY</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>