<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width:900px">
    <div class="py-5 text-center">
        <h2>Branch Inventory Overview</h2>
        <h3 th:text="${branch}"></h3>
    </div>

    <h4 th:if="${param.deleteStatus}" th:text="'Successfully deleted!'"></h4>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:if="${memberBranch}"
                    th:onclick="|location.href='@{/admin/branch/{memberBranch}/menus/order(memberBranch=${memberBranch})}'|"
                    type="button"> Place Order from HQ
            </button>

        </div>
    </div>
    <hr class ="my-4">
    <div>
        <table class ="table">
            <thead>
            <tr>
                <th>INVENTORY ID</th>
                <th>MENU ID</th>
                <th>MENU CATEGORY</th>
                <th>MENU NAME</th>
                <th>MENU PRICE (AUD)</th>
                <th>BRANCH QUANTITY</th>
                <th>HQ QUANTITY</th>
            </tr>
            </thead>
            <tbody>
<!--            <tr th:each="menu : ${menus}">-->
<!--                <td th:text="${menu.id}">INVENTORY ID</td>-->
<!--                <td><a href="menu.html" th:href="@{/admin/hq/menus/{menuId} (menuId=${menu.id})}"-->
<!--                       th:text="${menu.id}">MENU ID</a></td>-->
<!--                <td th:text="${menu.menuCategory}">MENU CATEGORY</td>-->
<!--                <td th:text="${menu.menuName}">MENU NAME</td>-->
<!--                <td th:text="${menu.menuPrice}">MENU PRICE</td>-->
<!--                <td th:text="${menu.menuQuantity}">BRANCH QUANTITY</td>-->
<!--                <td th:text="${menu.menuQuantity}">HQ QUANTITY</td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </div>
</div>
</body>
</html>