<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
        max-width: 860px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>MENU DETAILS</h2>
    </div>
    <h4 th:if="${param.registerStatus}" th:text="'Successfully registered!'"></h4>
    <h4 th:if="${param.editStatus}" th:text="'Successfully edited!'"></h4>
    <div>
        <label for="menuId"> MENU ID</label>
        <input type="text" id="menuId" name="menuId" class="form-control" value="BUR001" th:value="${menu.id}" readonly>
    </div>
    <div>
        <label for="menuCategory"> MENU CATEGORY </label>
        <input type="text" id="menuCategory" name="menuCategory" class="form-control" value="Burgers" th:value="${menu.menuCategory}" readonly>
    </div>
    <div>
        <label for="menuName"> MENU NAME</label>
        <input type="text" id="menuName" name="menuName" class="form-control" value="Bondi Burger" th:value="${menu.menuName}" readonly>
    </div>
    <div>
        <label for="menuPrice"> MENU PRICE </label>
        <input type="text" id="menuPrice" name="menuPrice" class="form-control" value="11.45" th:value="${menu.menuPrice}" readonly>
    </div>
    <div>
        <label for="menuQuantity"> MENU QUANTITY </label>
        <input type="text" id="menuQuantity" name="menuQuantity" class="form-control" value="99" th:value="${menu.menuQuantity}" readonly>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editMenu.html'"
                    th:onclick="|location.href='@{/admin/menus/{menuId}/edit(menuId=${menu.id})}'|" type="button">
                    EDIT </button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='menus.html'"
                    th:onclick="|location.href='@{/admin/menus/{menuId}/delete(menuId=${menu.id})}'|" type="button">
                    DELETE </button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='menus.html'"
                    th:onclick="|location.href='@{/admin/menus}'|"
                    type="button"> GO BACK TO LIST</button>
        </div>
    </div>
</div>
</body>
</html>
